{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}


<div class="table-responsive" style="background-color: white;">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#">All Campaigns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Calendar View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
        </ul>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Campaign</th>
            <th scope="col">Status</th>
            <th scope="col">Period</th>
            <th scope="col">Channels</th>
            <th scope="col">Countries</th>
            <th scope="col">Influencers</th>
            <th scope="col">Budget</th>
            <th scope="col">ROI</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>X'Mas sale</td>
            <td>Cell</td>
            <td>1/3/2018-2/3/2018</td>
            <td><a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-youtube"></a></td>
            <td>USA</td>
            <td>10</td>
            <td>$20,000</td>
            <td>Coming Soon</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}>