{% extends 'layout.html' %}
{{ super() }}
{% block body %}
<title xmlns="http://www.w3.org/1999/html">{{title}}</title>
<!--
<div class="row login">
    <div class="col s12 l4 offset-l4">
        <div class="card">
            <div class="card-action red white-text">
                <h3>Login</h3>
            </div>
            <div class="card-content">
                <div class="form-field">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div><br/>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                </div><br/>
                <div class="form-field center-align">
                    <button class="btn-large red hoverable">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row login">
    <div class="col s12 l4 offset-l4">
        <div class="card">
            <div class="card-action white white-text">
                <img src="/static/img/logo.png" class="responsive-img">
            </div>
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#brand">Brand</a></li>
                <li class="tab col s6"><a href="#influencer">Influencer</a></li>
            </ul>
            <div id="brand" class="card-content">
                <form method="POST" action="/login">
                <div class="form-field">
                    <input type="email" id="email" name="email" class="validate" required placeholder="Email">
                </div>
                <br/>
                <div class="form-field">
                    <input type="password" id="password" name="password" class="validate" required placeholder="Password">
                </div>
                <br>
                <div class="form-field">
                    <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>Remember me</span>
                </label>
                </div>
                    <br>
                <div class="form-field center-align">
                    <button class="btn-small purple hoverable" type="submit" name="brand">Login</button>
                </div>
                </form>
                <br/>
                <div class="divider"></div>
                <br>
                <div class="white-text center-align">Dont have an Account yet ?</div>
                <br>
                <div class="center-align">
                    <a class="btn-small red hoverable" href="/registerBrand">Free Registration</a>
                </div>
            </div>
            <div id="influencer" class="card-content">
                <form method="POST" action="/login">
                <div class="form-field">
                    <input type="text" id="inf_email_id" class="validate" required placeholder="Username">
                </div>
                <br/>
                <div class="form-field">
                    <input type="password" id="inf_password" class="validate" required placeholder="Password">
                </div>
                <br/>
                <div class="form-field center-align">
                    <button class="btn-small purple hoverable" type="submit" name="influencer">Login</button>
                </div>
                </form>
                <br/>
                <div class="center-align">
                    <a class="btn-small red hoverable" href="/registerInfluencer">Sign up</a>
                </div>
                <div>
                    <script>
		// initialize and setup facebook js sdk
		window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '264996067681258',
		      xfbml      : true,
		      version    : 'v2.5'
		    });
		    FB.getLoginStatus(function(response) {
		    	if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
		    });
		};
		(function(d, s, id){
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) {return;}
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		// login with facebook with extra permissions
		function login() {
			FB.login(function(response) {
				if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
			}, {scope: 'email'});
		}

		// getting basic user info
		function getInfo() {
			FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id,email'}, function(response) {
				document.getElementById('status').innerHTML = response.id;
			});
		}
	</script>

	<div id="status"></div>
	<button onclick="getInfo()">Get Info</button>
	<button onclick="login()" id="login">Login </button>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}






